@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/MainLayout.cshtml";

}

<div class="jumbotron alert-danger" style="color:#0094ff">
    <h1>TO DO LİST</h1>
    <p class="lead">Günlük Yaşamınızın Her Yerinde Kullanabileceğiniz Listeye Hoşgeldiniz</p>
    <p><a href="/ToDo/Index/" class="btn btn-primary btn-lg">Open &raquo;</a></p>
</div>


